{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="class="myNavbarElement site-text nav-item"">Hello {{ user.username }}!</span></li>
		<li><a class="myNavbarElement site-text nav-item" href="{% url 'about' %}">O aplikacji</a></li>
        <li><a class="myNavbarElement site-text nav-item" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><p class="navbar-btn"><a class="btn btn-info myNavbarElement myNavbarBtn" href="/login">Logowanie</a></p></li>
    <li><p class="navbar-btn"><a class="btn btn-success myNavbarElement myNavbarBtn" href="/registration">Rejestracja</a></p></li>
</ul>

{% endif %}
