 <aside id="sidebar">

     <div class="suggestions">
  
        <div class="site-text"><h4>Polecane dla Ciebie:</h4></div>

         <div class="suggestion ">
            <img id="firstSuggestion" class="suggestionImage" src="{{ firstImagePathSmall }}" />
        </div>

         <div class="suggestion ">
            <img id="secondSuggestion" class="suggestionImage" src="{{ secondImagePathSmall }}" />
        </div>

         <div class="suggestion ">
            <img id="thirdSuggestion" class="suggestionImage" src="{{ thirdImagePathSmall }}" />
        </div>
     </div>
</aside>
